<section id="works" class="works">
    <div class="container">
        <div class="row">
            <div class="main_works_area center m-y-3">
                <div class="head_title center  wow fadeInUp">
                    <h2>Nos Partenaire</h2>
                </div>

                <div class="main_works_content p-y-3">
                    <div class="col-md-3">
                        <div class="single_works wow zoomIn">
                            <img src="../../../assets/img/works1.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single_works wow zoomIn">
                            <img src="./../../assets/img/works2.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single_works wow zoomIn">
                            <img src="./../../assets/img/works3.png" alt="" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single_works wow zoomIn">
                            <img src="./../../assets/img/works4.png" alt="" />
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <hr />
</section><!-- End of works Section -->