<section id="counter" class="counter">

    <div class="main_counter_area m-y-3">
        <div class="overlay p-y-3">
            <div class="container">
                <div class="row">
                    <div class="main_counter_content center white-text wow fadeInUp">
                        <div class="col-md-3">
                            <div class="single_counter p-y-2 m-t-1">
                                <i class="fa fa-heart m-b-1"></i>
                                <h2 class="statistic-counter">90</h2>
                                <p>Love Our Team</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_counter p-y-2 m-t-1">
                                <i class="fa fa-check m-b-1"></i>
                                <h2 class="statistic-counter">400</h2>
                                <p>Check Our</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_counter p-y-2 m-t-1">
                                <i class="fa fa-refresh m-b-1"></i>
                                <h2 class="statistic-counter">312</h2>
                                <p>repeat client</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single_counter p-y-2 m-t-1">
                                <i class="fa fa-beer m-b-1"></i>
                                <h2 class="statistic-counter">480</h2>
                                <p>Pizzas Ordered</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</section><!-- End of counter Section -->