
    <!-- Start your project here-->
    <!--Navbar-->

    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <!--Collapse button-->
    <div class="container">
        <a href="#" data-activates="mobile-menu" class="button-collapse right"><i class="fa fa-bars black-text"></i></a>

        <!--Content for large and medium screens-->
        <div class="navbar-desktop">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#home"><img src="../../../assets/img/logo/ilef.jpg" alt="" /></a>
            <!--Links-->
            <ul class="nav navbar-nav pull-right hidden-md-down text-uppercase">
                <li class="nav-item">
                    <a class="nav-link" href="#home" style="color:#ff000c;" >Home <span  class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"style="color:#ff000c;"   href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#newsletter">Faq</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="#!"><i class="fa fa-search fa-lg"></i></a>
                </li>
            </ul>
            
        </div>

        <!-- Content for mobile devices-->
        <div class="navbar-mobile">

            <ul class="side-nav" id="mobile-menu">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#newsletter">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Faq</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!"><i class="fa fa-search fa-lg"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


