body {
    background-position: center center;
    background-color:#000000e0;
    margin:0;
    background-image: url(.../../../../../assets/img/contact-heading.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   width: 100%;
   height: 100%;
    
 }
 
 .patterns {
   height: 77vh;
 }
 
 
 
 svg text {
   font-family: Lora;
   letter-spacing: 10px;
   stroke: #e922298c;
   font-size: 150px;
   font-weight: 700;
   stroke-width: 3;
  
   animation: textAnimate 10s infinite alternate;
   
 }
 
 @keyframes textAnimate {
   0% {
     stroke-dasharray: 0 50%;
     stroke-dashoffset:  20%;
     fill: rgba(255, 255, 255, 0)
 
   }
   
   100% {
     stroke-dasharray: 50% 0;
     stroke-dashoffstet: -20%;
     fill:hsl(0, 0%, 100%)
   }
   
 }

 a
 {

    font-size: 12px !important;
 }
 
 
 