<div id="hoe" class="slider style1">
    <ul class="slides  style1">
        <li>
            <img src="../../../assets/img/counterbg.jpg"> <!-- random image -->
            <div class="caption center-align">
                <div class="single_home">
                    <h1> Our Services </h1>
                    <p>MURI, A TEMPLATE AT THE HEART OF THE BEAUTY</p>
                </div>
            </div>
        </li>
        <li>
            <img src="../../../assets/img/counterbg.jpg"> <!-- random image -->
            <div class="caption center-align">
                <div class="single_home">
                    <h1>Our Services</h1>
                    <p>MURI, A TEMPLATE AT THE HEART OF THE BEAUTY</p>
                </div>
            </div>
        </li>
        <li>
            <img src="../../../assets/img/counterbg.jpg"> <!-- random image -->
            <div class="caption center-align">
                <div class="single_home">
                    <h1>Our Services</h1>
                    <p>MURI, A TEMPLATE AT THE HEART OF THE BEAUTY</p>
                </div>
            </div>
        </li>
        <li>
            <img src="../../../assets/img/counterbg.jpg"> <!-- random image -->
            <div class="caption center-align">
                <div class="single_home">
                    <h1>Our Services</h1>
                    <p>MURI, A TEMPLATE AT THE HEART OF THE BEAUTY</p>
                </div>
            </div>
        </li>
    </ul>
</div>