<div class="z1">


  <div class="page-heading contact-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4> Nous serons ravis de traiter la vôtre !</h4>
            <h2>Nous donnons de l'importance et répondons à toutes les demandes de nos clients.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-social-icon></app-social-icon>
  <!-- **************************************** -->
  <div class="send-message">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>ENVOIE-NOUS UN MESSAGE</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="contact-form">






            <!-- <form [formGroup]="form" ngNativeValidate>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <fieldset>
                    <input formControlName="nom" name="nom" type="text" required class="form-control" id="nom"
                      placeholder="Nom">
                  </fieldset>
                </div>

                <div class="form-row">
                  <div class="col-lg-6">
                    <input formControlName="prenom" name="prenom" type="text" class="form-control" placeholder="Prenom"
                      required>
                  </div>


                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input formControlName="mail" name="email" type="text" class="form-control" placeholder="E-Mail "
                        required>
                    </fieldset>
                  </div>


                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <textarea formControlName="message" name="message" rows="6" class="form-control"
                        placeholder="message" required></textarea>
                    </fieldset>

                  </div>


                  <div class="col-lg-12">

                    <button type="submit" id="form-submit" class="filled-button"
                      (click)="submit($event)">ENVOYER</button>




                  </div>


                </div>
              </div>

            </form> -->




            <form [formGroup]="form" ngNativeValidate>
              <div class="row">

                <div class="col-md-6 col-sm-12">
                  <input required formControlName="nom" required placeholder="nom">



                  <!-- <input required formControlName="nom" name="nom" type="text" class="form-control" id="nom"
                    placeholder="Nom"> -->
                </div>

                <div class="col-md-6 col-sm-12">
                  <input formControlName="prenom" name="prenom" type="text" required class="form-control" id="prenom"
                    placeholder="prenom">
                </div>


                <div class="col-md-12 col-sm-12">
                  <input formControlName="mail" name="mail" type="text" id="mail" required placeholder="E-mail">
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <textarea formControlName="message" name="message" rows="6" class="form-control"
                      placeholder="message" required></textarea>
                  </fieldset>
                </div>

                <div class="col-lg-12">
                  <fieldset>
                    <button id="myBtn" type="submit" class="filled-button" (click)="submit($event)">Envoyer</button>
                  </fieldset>
                </div>



              </div>
            </form>





          </div>
        </div>
        <!-- *********bloc2*************** -->
        <div class="col-md-4">
          <div class="left-content">
            <h4>About our office</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu
              consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia
              corporis ipsa voluptate corrupti.</p>


          </div>
        </div>
        <!-- ******************end bloc2**************** -->
      </div>
    </div>

    <!-- ************************************** -->
    <!-- **************************** -->
    <div class="find-us">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div id="map">
              <iframe
                src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                width="100%" height="310px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- ********************************* -->
  </div>