
    <div class="z1">


    <div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4> Nous serons ravis de traiter la vôtre !</h4>
              <h2>Nous donnons de l'importance et répondons à toutes les demandes de nos clients.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

     
    <app-social-icon></app-social-icon>
<!-- **************************************** -->
    <div class="send-message">
      <div class="container">
        <div class="row">
                                          <div class="col-md-12">
                                                <div class="section-heading">
                                                  <h2>ENVOIE-NOUS UN MESSAGE</h2>
                                                </div>
                                          </div>
          <div class="col-md-8">
            <div class="contact-form">
              <form [formGroup]="form" id="contact" action="" method="post">
                <div class="row">

                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <fieldset>
                      <input formControlName="nom" name="nom" type="text" class="form-control" id="name" placeholder="Nom" class="validate" data-validate="required ,custom"  pattern="[A-F]" >
                    </fieldset>

                    <div *ngIf="submitted && f.nom.errors" class="validate-popup active">
                      <div *ngIf="f.nom.errors.required"> Ce champ est obligatoire </div>
                    </div>

                    <!-- <input id="fullName" class="validate" data-validate="required">
<input type="email" id="email" class="validate" data-validate="required, email">

 -->

                  </div>

                  <div class="form-row">
                    <div class="col-lg-6">
                      <input formControlName="prenom"  name="prenom" type="text" class="form-control" id="prenom" placeholder="Prenom" required pattern="[A-F]">
                    </div>
                    <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                      <div *ngIf="f.prenom.errors.required"> Ce champ est obligatoire </div>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input formControlName="mail"    name="email" type="text" class="form-control" id="email" placeholder="E-Mail " required="required">
                    </fieldset>
                    <div *ngIf="submitted && f.mail.errors " class="invalid-feedback">
                      <div *ngIf="f.mail.errors.required"> Ce champ est obligatoire </div>
                      <div *ngIf="f.mail.errors.email">champ invalide</div>
                    </div>
                  </div>

          
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea  formControlName="message"   name="message" rows="6" class="form-control" id="message" placeholder="message" required=""></textarea>
                    </fieldset>
                    <div *ngIf="submitted && f.message.errors" class="alert alert-danger">
                      <div *ngIf="f.message.errors.required">Ce champ est obligatoire </div>
                    </div>
                  </div>


                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button" (click)="submit($event)" >ENVOYER</button>
                    </fieldset>

                    <div *ngIf="submitted && f.valid" class="invalid-feedback">
                  
                           <h3>SUCCESS! </h3>  
                    
                    </div>
                  </div>


                </div>
              </form>
            </div>
        </div>
        <!-- *********bloc2*************** -->
        <div class="col-md-4">
          <div class="left-content">
            <h4>About our office</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.</p>
           
         
          </div>
      </div> 
        <!-- ******************end bloc2**************** -->
      </div>
    </div>

<!-- ************************************** -->
<!-- **************************** -->
<div class="find-us">
  <div class="container-fluid" style="width: 1411px;" >
    <div class="row">
        <div class="col-md-19">
          <div id="map">
            <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

    </div>
  </div>
</div>


<!-- ********************************* -->
  </div>