

.contact-heading {
	background-image: url(.../../../../../assets/img/contact-heading.jpg);
}

.z1{
	background-color: #F2F3F4 ;
}


.page-heading .text-content h4 {
	color: #f33f3f;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}


.page-heading .text-content h2 {
	/* color: #fff; */
	/* font-size: 62px; */
    /* font-size: 62px; */
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}
.page-heading {
	padding: 210px 0px 130px 0px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.find-us {
	margin-top: 29px;
}
.find-us .left-content {
    margin-left: 0px;
}
.find-us .left-content {
	margin-left: 30px;
}


.find-us #map {
    margin-bottom: 30px;
}

/* Send Message */

.send-message {
	margin-top: 47px;
}

.contact-form input {
	font-size: 14px;
	width:99%;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #85929E;
	border-radius: 6px;
	margin-bottom: 30px;
}

.contact-form input:focus {
	box-shadow: none;
	border: 1px solid #85929E;
}

.contact-form textarea {
	font-size: 14px;
	width: 100%;
	min-width: 100%;
	min-height: 120px;
	height: 120px;
	max-height: 180px;
	border: 1px solid #85929E;
	border-radius: 6px;
	margin-bottom: 30px;
}

.contact-form textarea:focus {
	box-shadow: none;
	border: 1px solid #85929E;
}

.contact-form button.filled-button {
	background-color: #f33f3f;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	border: none;
	outline: none;
	cursor: pointer;
}

.contact-form button.filled-button:hover {
	background-color: #121212;
	color: #fff;
}
.accordion {
	margin-left: 30px;
}

.accordion a {
	cursor: pointer;
	font-size: 17px;
	color: #1a6692!important;
	margin-bottom: 20px;
	transition: all .3s;
}

.accordion a:hover {
	color: #f33f3f!important;
}

.accordion a.active {
  color: #f33f3f!important;
}

.accordion li .content {
  display: none;
  margin-top: 10px;
}

.accordion li:first-child {
	border-top: 1px solid #eee;
}

.accordion li {
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
}


ul.social-icons li {
	display: inline-block;
	margin-right: 3px;
}

ul.social-icons li:last-child {
	margin-right: 0px;
}

ul.social-icons li a {
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	background-color: #eee;
	color: #121212;
	font-size: 18px;
	text-align: center;
	transition: all .3s;
}

ul.social-icons li a:hover {
	background-color: #f33f3f;
	color: #fff;
}


.section-heading {
	text-align: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #85929E;
}

.invalid-feedback{
	color: #121212;
}



.validate-popup {
    transition: opacity ease 400ms;
    cursor: pointer;
    position: absolute;
    background-color: #d10000;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    padding: 8px 12px;
    z-index: -1;
    opacity: 0;
}