
.main-button a {
	display: inline-block;
	background-color: #f33f3f;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding: 12px 20px;
	text-transform: uppercase;
	transition: all .3s;
}

.main-button a:hover {
	background-color: #f33f3f;
}



.blog-posts .main-button a {
    height: 40px;
    line-height: 46px;
    padding: 0px;
    width: 21%;
    text-align: center;
    float: right;
	margin-top: 1px;
}
@media (max-width: 992px)
{
	.blog-posts .main-button a {
		height: 40px;
		line-height: 46px;
		padding: 0px;
		width: 80%;
		text-align: center;
		float: right;
		margin-top: 1px;
	}
}

.blog-posts .down-content p {
	padding: 25px 0px;
	margin: 0px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.blog-posts .down-content {
	padding: 45px;
    padding-bottom: 83px;
	/* border-right: 1px solid #eee; */
    border-right: 1px solid #D5DBDB ;
	border-left: 1px solid #D5DBDB ;
	border-bottom: 1px solid #D5DBDB ;
	margin-bottom: 30px;

}

.container-fluid{
	width: 90%;
}