<script>
    document.getElementById('bg-video').play();
    document.getElementById('bg-video').muted ; 

</script>



<div class="main-banner" id="top">
    <video loop="true" autoplay="autoplay" id="bg-video" muted>
        <source src="assets/media/Banniere/Presentation.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>ça toujours l'air impossible </h6>
            <h2>Jusqu'à ce qu'on <em>lE FASSE</em></h2>
        </div>
    </div>
</div>