<div class="main-banner" id="top">
    <video autoplay loop id="bg-video">
        <source src="assets/media/Banniere/Presentation.mp4" type="video/mp4"/>
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>ça toujours l'air impossible  </h6>
            <h2>Jusqu'à ce qu'on <em>lE FASSE</em></h2>
            <div class="main-button scroll-to-section">
                <a href="#features">Become a member</a>
            </div>
        </div>
    </div>
</div>