<div class="icon-bar">

	<a href='https://www.facebook.com/ilefinfoservices' class='facebook' target='_blank'>
		<i class="fa fa-facebook"></i>
	</a>

	<a href='https://www.linkedin.com/in/ilef-info-services-54652220b/' class='linkedin' target='_blank'>
		<i class="fa fa-linkedin"></i>
	</a>
	<a href='#' class='twitter' target='_blank'>
		<i class="fa fa-twitter"></i>
	</a>

	<!-- <a href='https://www.instagram.com/vinodthapa55/' class='instagram' target='_blank'>
			 <i class="fa fa-facebook"></i>
			</a> -->
	<a href='' class='whatsapp' target='_blank'>
		<i class="fa fa-whatsapp"></i>
	</a>







</div>