



		<div class="icon-bar">
      
			<a href='#' class='facebook' target='_blank'>
				 <i class="fa fa-facebook"></i>
			</a>


			<a href='#' class='twitter' target='_blank'>
            <i class="fa fa-twitter"></i>
			</a>
			
			<!-- <a href='https://www.instagram.com/vinodthapa55/' class='instagram' target='_blank'>
			 <i class="fa fa-facebook"></i>
			</a> -->
				<a href='https://www.instagram.com/vinodthapa55/' class='whatsapp' target='_blank'>
					<i
					class="fa fa-whatsapp"></i>
			</a>
			

			<a href='' class='linkedin' target='_blank'>
			<i class="fa fa-linkedin"></i>
			</a>




		</div>

