<section id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="main_footer_area white-text p-b-3">
                <div class="col-md-3">
                    <div class="single_f_widget p-t-3 wow fadeInUp">
                        <img src="img/logo.png" alt="" />
                        <div class="single_f_widget_text">
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                            <div class="socail_f_widget">
                                <a href='https://www.facebook.com/ilefinfoservices'><i class="fa fa-facebook"></i></a>

                                <a href='https://www.linkedin.com/in/ilef-info-services-54652220b/'><i
                                        class="fa fa-linkedin"></i></a>
                                <a href="#!"><i class="fa fa-google-plus"></i></a>
                                <a href="#!"><i class="fa fa-twitter"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_f_widget m-t-3 wow fadeInUp">
                        <h4 class="text-lowercase">Some features</h4>
                        <div class="single_f_widget_text f_reatures">
                            <ul>
                                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet</li>
                                <li><i class="fa fa-check"></i>Aliquam tincidunt cons ectetuer</li>
                                <li><i class="fa fa-check"></i>Vestibulum auctor dapibus con</li>
                                <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet auctor dapibus</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_f_widget m-t-3 wow fadeInUp">
                        <h4 class="text-lowercase">Tags</h4>
                        <div class="single_f_widget_text f_tags">
                            <a href="#!">corporate</a>
                            <a href="#!">agency</a>
                            <a href="#!">portfolio</a>
                            <a href="#!">blog</a>
                            <a href="#!">elegant</a>
                            <a href="#!">professional</a>
                            <a href="#!">business</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">


                    <img src="../../../assets/img/logo/ilef.jpg" alt="" width="100%" height="100%"
                        style="margin-top: 30%;" />



                </div>
            </div>
        </div>
    </div>
    <div class="main_coppyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="copyright_text m-t-2 text-xs-center">
                        <p class="wow zoomIn" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by <a
                                target="_black" href=""> YOSRA & MOLKA</a> Stage2021. All Rights
                            Reserved</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="socail_coppyright text-sm-right m-t-2 text-xs-center wow zoomIn">
                        <a href='https://www.facebook.com/ilefinfoservices'><i class="fa fa-facebook"></i></a>

                        <a href='https://www.linkedin.com/in/ilef-info-services-54652220b/'><i
                                class="fa fa-linkedin"></i></a>
                        <a href="#!"><i class="fa fa-twitter"></i></a>
                        <a href="#!"><i class="fa fa-google-plus"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>