<app-carousel></app-carousel>

<body>

    <!-- ***** Preloader End ***** -->

    <!-- Header -->


    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <!-- <div class="heading-page header-text">
       
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    <img src="http://127.0.0.1:8000/upload/{{Article.image}}" alt=""
                    style="width: 100%; height : 350px ; ">
                </div>
                </div>
            </div>
       
    </div> -->

    <!-- Banner Ends Here -->



    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <!-- <img src="assets/images/blog-post-01.jpg" alt=""> -->
                                        <img src="http://127.0.0.1:8000/upload/{{Article.image}}" alt=""
                                            style="width: 100%; height : 285px">
                                    </div>
                                    <div class="down-content">
                                        <h4>{{Article.title}}</h4>

                                        <ul class="post-info">
                                            {{Article.DateAjout}}
                                        </ul>
                                        <p>
                                            {{Article.description}}
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2>4 comments</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <ng-container *ngFor="let Commentaire of  CommentaireListe ;">
                                                <li>

                                                    <div class="right-content">
                                                        <h4>{{Commentaire.nom}} {{Commentaire.prenom}}<span>May 16,
                                                                2020</span></h4>
                                                        <p>
                                                            {{Commentaire.contenu}}
                                                        </p>
                                                    </div>
                                                </li><br />
                                                <hr>
                                            </ng-container>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>Your comment</h2>
                                    </div>
                                    <div class="content">
                                        <form id="comment" [formGroup]="form" method="post" ngNativeValidate>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <fieldset>
                                                        <input name="name" type="text" id="name" formControlName="nom"
                                                            placeholder="nom" required>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <fieldset>
                                                        <input name="email" type="text" formControlName="prenom"
                                                            id="email" placeholder="prenom" required>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <fieldset>
                                                        <input name="subject" required formControlName="email"
                                                            type="email" id="subject" placeholder="Mail">
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <textarea name="message" formControlName="contenu" rows="6"
                                                            id="message" required placeholder="Type your comment"
                                                            required=""></textarea>
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit" class="filled-button"
                                                            (click)="submit($event)">ENVOYER</button>
                                                    </fieldset>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div *ngIf="display">

                                                        votre commentaire est bien enrigistré dans la base

                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                    </div>
                                </div>

                                <!-- <ng-template #content let-modal>

                                    <div class="modal-header"> -->
                                <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button> 
                                    </div>  -->
                                <!-- <div class="modal-body">
                                        <h1> votre commentaire est bien enrigistré dans la base </h1>
                                    </div> -->

                                <!-- <div class="modal-footer"> -->
                                <!-- <h5> votre commentaire est bien enrigistré dans la base </h5> -->
                                <!-- <button type="button" class="close" -->
                                <!-- (click)="modal.dismiss('Cross click')">close</button> -->
                                <!-- </div> -->

                                <!-- </ng-template> -->
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
                    <div class="card-body">
                        <p>First focusable element within the modal window will receive focus upon opening.
                            This could be configured to focus any other element by adding an <code>ngbAutofocus</code>
                            attribute on it.</p>

                        <pre
                            class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>button</span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>button<span class="token punctuation">"</span></span> <span class="token attr-name">ngbAutofocus</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>btn btn-danger<span class="token punctuation">"</span></span>
                              <span class="token attr-name">(click)</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>modal.close(<span class="token punctuation">'</span>Ok click<span class="token punctuation">'</span>)<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Ok<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>button</span><span class="token punctuation">&gt;</span></span></code></pre>

                        <br />
                        <button class="btn btn-outline-primary mr-2" (click)="open('focusFirst')">
                            <div>Open confirm modal</div>
                            <div class="text-dark" aria-hidden="true"><small>&times; button will be focused</small>
                            </div>
                        </button>

                        <button class="btn btn-outline-primary" (click)="open('autofocus')">
                            <div>Open confirm modal with `ngbAutofocus`</div>
                            <div class="text-dark" aria-hidden="false"><small>Ok button will be focused</small></div>
                        </button>

                        <button type="button" ngbAutofocus class="btn btn-danger"
                            (click)="modal.close('Ok click')">Ok</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>Recent Posts</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <ng-container *ngFor="let Article of  ArticleListe ;">
                                                <li>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <img style="height: 80%; width : 100% "
                                                                src="http://127.0.0.1:8000/upload/{{Article.image}}">
                                                        </div>
                                                        <a href="post-details.html">
                                                            <div class="col-md-6" style="padding:  0px;">
                                                                <h5>{{Article.title}}
                                                                </h5>

                                                                <span>{{Article.DateAjout}}</span>
                                                            </div>
                                                        </a>
                                                    </div>

                                                </li>
                                            </ng-container>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>plugins sociaux </h2>
                                    </div>
                                    <div class="content left-content">

                                        <ul class="social-icons">
                                            <li style="  background-color:#3b5998 ;"><a href="#"><i
                                                        class="fa fa-facebook"></i></a></li>
                                            <li style="  background-color:#00aced  ;"><a href="#"><i
                                                        class="fa fa-twitter"></i></a></li>
                                            <li style="  background-color:  #0077b5 ;"><a href="#"><i
                                                        class="fa fa-linkedin"></i></a></li>
                                            <li style="  background-color: #25d366;"><a href="#"><i
                                                        class="fa fa-whatsapp"></i></a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12">
                                <div class="sidebar-item tags">
                                    <div class="sidebar-heading">
                                        <h2>Tag Clouds</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">Lifestyle</a></li>
                                            <li><a href="#">Creative</a></li>
                                            <li><a href="#">HTML5</a></li>
                                            <li><a href="#">Inspiration</a></li>
                                            <li><a href="#">Motivation</a></li>
                                            <li><a href="#">PSD</a></li>
                                            <li><a href="#">Responsive</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>









            </div>
        </div>
    </section>


    <!-- 
    <div id="myModal" class="modal">


        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div> -->
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>